<% content_for(:header) do %>
  <h1 class="mt-6 text-3xl font-extrabold leading-9 text-gray-900">Resend confirmation instructions</h1>
<% end %>

<%= form_for(resource, as: resource_name, url: user_confirmation_path, html: { method: :post, class: 'flex flex-col space-y-6' }) do |form| %>
  <%= render "shared/errors", record: resource %>

  <div class="flex flex-col">
    <%= form.label :email, class: 'block text-sm leading-5 font-medium text-gray-700' %>
    <div class="relative mt-1 rounded-md shadow-sm">
      <%= form.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-input block w-full pl-7 pr-12 sm:text-sm sm:leading-5' %>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <%= form.submit 'Send', class: 'rounded-lg bg-green-700 py-2 px-4 text-green-100 hover:bg-green-800 cursor-pointer' %>
    <div class="relative" data-controller="dropdown">
      <button class="relative z-10 block text-green-700 hover:text-green-800" data-action="dropdown#toggle">
        Something else?
      </button>
      <div class="absolute right-0 w-64 py-2 text-gray-800 bg-white border-2 border-gray-300 rounded-lg shadow-xl" data-target="dropdown.menu">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
