<%= component :container, size: :sm do %>
  <%= component :panel do %>
    <div class="flex items-center justify-between py-3 pl-5 pr-2 text-lg">
      <div class="text-lg font-medium">Servers</div>
      <%= link_to new_server_path, class: 'px-3 py-2 text-gray-600 rounded-full hover:text-gray-900 hover:bg-gray-200 hover:shadow-inner' do %>
        <%= inline_svg_tag 'icons/plus.svg', class: 'w-5 h-5' %>
      <% end %>
    </div>
    <div class="px-2">
      <div class="flex items-center px-2 py-1 bg-gray-300 rounded-md focus-within:shadow-inner">
        <%= inline_svg_tag 'icons/search.svg', class: 'w-5 h-5 text-gray-500' %>
        <%= search_form_for @q, class: 'flex-1' do |form| %>
          <%= form.text_field :name_cont, class: 'w-full px-2 py-1 text-sm text-gray-700 bg-transparent border-0 focus:shadow-none form-input', placeholder: 'Search servers' %>
        <% end %>
        <%= link_to servers_path, class: 'p-1 text-gray-500' do %>
          <%= inline_svg_tag 'icons/x.svg', class: 'w-4 h-4' %>
        <% end %>
      </div>
    </div>
    <div class="px-2 py-4 space-y-4">
      <%= component_with_collection 'servers/list_item', @servers %>
    </div>
  <% end %>
<% end %>
