<%= render 'shared/notice', notice: notice %>

<div class="flex items-end justify-between pt-6 pb-4">
  <div class="flex items-center space-x-1 text-green-800">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"></path></svg>
    <h1 class="text-2xl font-medium">
      Servers
    </h1>
  </div>
  <%= link_to 'New Server', new_server_path, class: 'block rounded-lg bg-green-700 py-2 px-4 text-green-100 hover:bg-green-800' %>
</div>

<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-600 uppercase bg-gray-200">
                <div class="flex justify-center">
                  <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                </div>
              </th>
              <th class="w-full px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-600 uppercase bg-gray-200">
                Name
              </th>
              <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-600 uppercase bg-gray-200">
                Hostname
              </th>
              <th class="px-6 py-3 bg-gray-200"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% servers.each do |server| %>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-center text-gray-900">
                    <%= link_to server.locations.size, server_path(server), class: 'hover:text-green-800 hover:underline' %>
                  </div>
                </td>
                <td class="w-full px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">
                    <%= link_to server.name, server_path(server), class: 'hover:text-green-800 hover:underline' %>
                  </div>
                  <div class="text-sm leading-5 text-gray-500">
                    <%= server.description %>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-500">
                    <%= server.hostname_and_port %>
                  </div>
                </td>
                <td class="px-6 py-4 text-sm whitespace-no-wrap">
                  <div class="flex justify-end space-x-2 text-sm leading-5 text-gray-600">
                    <%= link_to edit_server_path(server), class: 'hover:text-green-800' do %>
                      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
                    <% end %>
                    <%= link_to server, class: 'hover:text-red-900', method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
