<%= render 'shared/notice', notice: notice %>

<% content_for(:active_server) do %>
  <%= render 'servers/menu_link', server: server %>
<% end %>

<div class="flex items-center justify-between pt-6 pb-4 text-green-800">
  <div class="flex items-center">
    <%= inline_svg 'icons/server.svg', class: 'w-6 h-6' %>
    <div class="flex flex-col ml-2">
      <h1 class="text-2xl font-medium"><%= server.name %></h1>
      <div class="text-sm font-normal leading-5 text-gray-500">(<%= server.hostname_and_port %>)</div>
    </div>
  </div>
  <div class="flex items-center">
    <%= link_to edit_server_path(server, referrer: referrer_for(server_path(server))), class: 'text-gray-600 hover:text-gray-900 px-6 py-3' do %>
      <%= inline_svg 'icons/pencil-alt.svg', class: 'w-6 h-6' %>
    <% end %>
  </div>
</div>

<div class="p-6 italic text-gray-700 bg-gray-200 rounded-lg">
  <% if server.description.blank? %>
    <%= "< Edit to add a server description >" %>
  <% else %>
    <%= server.description %>
  <% end %>
</div>

<div class="flex items-end justify-between pt-6 pb-4">
  <div class="flex items-center space-x-1 text-green-800">
    <%= inline_svg 'icons/location-marker.svg', class: 'w-6 h-6' %>
    <h2 class="text-xl font-medium">Points of Interest</h2>
  </div>
  <%= link_to 'New', new_location_path(server_id: server.id, referrer: referrer_for(server_path(server))), class: 'block rounded-lg bg-green-700 py-2 px-4 text-green-100 hover:bg-green-800' %>
</div>


<div class="flex flex-col mb-6 overflow-hidden shadow-md sm:rounded-lg">
  <%# Header Row %>
  <div class="flex items-center text-xs font-medium leading-4 tracking-wider text-left text-gray-600 uppercase bg-gray-200">
    <%# name and description responsive column headers %>
    <div class="flex flex-col flex-1 px-6 py-3 xl:flex-row">
      <div class="xl:pr-6 xl:w-2/5">Name</div>
      <div class="hidden xl:pl-6 xl:w-3/5 xl:block">Description</div>
    </div>
    <%# dimension and coordinates responsivle column headers %>
    <div class="flex flex-col flex-none w-40 px-6 py-3 md:w-72 md:flex-row">
      <div class="hidden w-full md:block md:w-2/5 md:pr-6">Dimension</div>
      <div class="w-full md:pl-6 md:w-3/5">Coordinates</div>
    </div>
    <%# actions column header %>
    <div class="flex-none w-20 px-6 py-3 md:w-28"><%# Actions %></div>
  </div>
  <%# Content Rows %>
  <% server.locations.each do |location| %>
    <div class="flex items-center text-sm leading-5 text-gray-900 bg-white border-b border-gray-200">
      <%# information and main action %>
      <div class="relative flex items-center flex-1 group hover:bg-green-200">
        <%# main action link %>
        <%= link_to '', location_path(location), class: 'block absolute inset-0'%>
        <%# name and description responsive columns %>
        <div class="flex flex-col flex-1 px-6 py-3 xl:flex-row">
          <div class="xl:pr-6 xl:w-2/5 group-hover:text-green-800">
            <%= location.name %>
          </div>
          <div class="text-gray-500 xl:pl-6 xl:w-3/5">
            <%= location.description %>
          </div>
        </div>
        <%# dimension and coordinates responsive columns %>
        <div class="flex flex-col-reverse w-40 px-6 py-3 md:w-72 md:flex-row">
          <div class="w-full text-gray-500 md:pr-6 md:w-2/5">
            <%= location.dimension_name %>
          </div>
          <div class="w-full md:pl-6 md:w-3/5 group-hover:text-green-800">
            <%= location.coordinates %>
          </div>
        </div>
        <%# chevron for tablet and mobile (hidden above tablet) %>
        <%# takes the place of secondary actions on table and mobile %>
        <div class="flex flex-none w-20 px-6 py-3 text-gray-700 md:hidden group-hover:text-green-700">
          <%= inline_svg_tag 'icons/chevron-right.svg', class: 'w-8 h-8' %>
        </div>
      </div>
      <%# secondary actions (hidden on tablet and mobile) %>
      <div class="items-center self-stretch flex-none hidden text-gray-600 justify-evenly w-28 md:flex">
        <div class="relative w-1/2 h-full group hover:bg-green-200">
          <%= link_to edit_location_path(location, referrer: referrer_for(server_path(location.server_id))), class: 'absolute flex inset-0 flex items-center justify-center group-hover:text-green-800' do %>
            <%= inline_svg 'icons/pencil-alt.svg', class: 'w-6 h-6' %>
          <% end %>
        </div>
        <div class="relative w-1/2 h-full group hover:bg-red-200">
          <%= link_to location, class: 'absolute inset-0 flex items-center justify-center group-hover:text-red-900', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= inline_svg 'icons/trash.svg', class: 'w-6 h-6' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="flex flex-col items-center justify-center my-6">
  <%= link_to server, class: 'text-gray-500 hover:underline', method: :delete, data: { confirm: 'Are you sure?' } do %>
    Delete server
  <% end %>
</div>