<% content_for(:header) do %>
  <h1 class="mt-6 text-3xl font-extrabold leading-9 text-gray-900"><%= t "devise.invitations.new.header" %></h1>
<% end %>
<%= form_for(resource, as: resource_name, url: user_invitation_path, html: {method: :post, class: "flex flex-col space-y-6"}) do |form| %>
  <%= render "shared/errors", record: resource %>
  <% resource.class.invite_key_fields.each do |field| %>
    <div class="flex flex-col">
      <%= form.label field, class: "block text-sm leading-5 font-medium text-gray-700" %>
      <div class="relative mt-1 rounded-md shadow-sm">
        <% if field.to_s.include?('email') %>
          <%= form.email_field field, class: "block w-full pl-7 pr-12 sm:text-sm sm:leading-5" %>
        <% else %>
          <%= form.text_field field, class: "block w-full pl-7 pr-12 sm:text-sm sm:leading-5" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="flex items-center justify-between">
    <%= form.submit t("devise.invitations.new.submit_button"), class: "rounded-lg bg-green-700 py-2 px-4 text-green-100 hover:bg-green-800 cursor-pointer" %>
    <%= link_to "Cancel", root_path, class: "block text-gray-600 hover:text-gray-800 py-2 px-4" %>
  </div>
<% end %>
