<%= render 'shared/notice', notice: notice %>

<% content_for(:active_server) do %>
  <%= render 'servers/menu_link', server: location.server %>
<% end %>

<div class="flex items-center justify-between pt-6 pb-4">
  <div class="flex items-center space-x-1 text-green-800">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
    <h1 class="text-2xl font-medium">
      <%= location.name %>
    </h1>
  </div>
  <div class="flex items-center">
    <%= link_to edit_location_path(location, referrer: referrer_for(location_path(location))), class: 'text-gray-600 hover:text-gray-900 px-6 py-3' do %>
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
    <% end %>
  </div>
</div>

<div class="flex flex-col p-6 mb-6 italic text-gray-700 bg-gray-200 rounded-lg">
  <div>
    <% if location.description.blank? %>
      <%= "< Edit to add a server description >" %>
    <% else %>
      <%= location.description %>
    <% end %>
  </div>
  <div class="flex mt-4 space-x-2 leading-7 border-t-2 border-gray-400">
    <div class="text-gray-500"><%= location.dimension_name %></div>
    <div class="text-gray-900"><%= location.coordinates %></div>
  </div>
</div>

<div class="flex flex-col items-center justify-center my-6">
  <%= link_to location, class: 'text-gray-500 hover:underline', method: :delete, data: { confirm: 'Are you sure?' } do %>
    Delete point of interest
  <% end %>
</div>
