<% content_for(:body) do %>
  <div class="flex flex-col">
    <div class="flex justify-between flex-none h-12 px-4 text-green-100 bg-green-800 sm:px-8 md:px-12">
      <div class="flex flex-1 px-3 space-x-3">
        <%= link_to servers_path, class: "flex items-center space-x-2" do %>
          <%= inline_svg "icons/map.svg", class: "w-6 h-6" %>
          <div class="hidden md:block">Minecraft Server Compendium</div>
        <% end %>
        <% if content_for?(:active_server) %>
          <%= yield :active_server %>
        <% end %>
      </div>
      <div class="flex items-center flex-none w-8">
        <div class="relative" data-controller="dropdown">
          <button class="relative z-10 block w-8 h-8 rounded-full" data-action="dropdown#toggle">
            <%= inline_svg "icons/cog.svg", class: "w-6 h-6" %>
          </button>
          <div class="absolute right-0 z-10 w-48 py-2 text-gray-800 bg-white border-2 border-gray-200 rounded-lg shadow-xl" data-target="dropdown.menu">
            <%= link_to "Account Settings", edit_user_registration_path(current_user), class: "block px-4 py-2 hover:bg-green-200 hover:text-green-700" %>
            <%= link_to "Invite another user", new_user_invitation_path, class: "block px-4 py-2 hover:bg-green-200 hover:text-green-700" %>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, form: {class: "block px-4 py-2 hover:bg-green-200 hover:text-green-700"} %>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-1 px-4 sm:px-8 md:px-12">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/base" %>
